#avatar {
    width: 112px;
    height: 112px;
    position: relative;

    #profile {
        width: 98px;
        padding: 6px;
        border: solid var(--red);
        border-radius: 50%;
    }

    #icon {
        width: 32px;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 4px;
    }
}