#intro {
    height: 100vh;
    background-image: url(../assets/images/Background_Intro.png);
    background-size: cover;
    background-position: center;

    #info-icon {
        margin-top: 92px;
    }

    #info {
        width: 1040px;
        height: 447px;
        gap: 80px;
        margin-top: 13%;

        header {
            width: 680px;
            height: 327px;

            h2 {
                font: var(--text-subtitle);
                margin: 56px 0 8px 0;

                span {
                    color: var(--red);
                }
            }

            h1 {
                font: var(--text-title-lg);
                color: var(--gray-100);
                margin-bottom: 20px;
            }

            p {
                font: var(--text-sm);
                color: var(--gray-300);
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            gap: 16px;
        }
    }
}

#projects {
    header {
        gap: 8px;
        margin-bottom: 56px;
    }

    .content {
        width: 1040px;
    }
}

#services {
    background-color: var(--gray-600);

    header {
        gap: 8px;
        margin-bottom: 56px;
    }
}

#contact {

    height: 100vh;
    background-image: url(../assets/images/Background_Contacts.png);
    background-size: cover;
    background-position: center;


    h3 {
        color: var(--purple);
    }

    header {
        gap: 8px;
        margin-bottom: 48px;
    }

    #link {
        width: 400px;
        height: 68px;
        border-radius: 8px;
        background-color: var(--gray-400);
        padding: 20px;

        img+p {
            margin-left: 12px;
            font: var(--text-md);
        }

        &:hover {
            border: 1px solid var(--blue);
        }
    }
}